@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#nav_main{
    display: flex;
    /* border: 1px solid red; */
    margin: auto;
}

#nav_main > div:nth-child(1) {
    position: absolute;
    width: 79px;
    height: 27px;
    left: 171px;
    top: 37px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}

#nav_main > div:nth-child(2) {
    position: absolute;
width: 68px;
height: 21px;
left: 300px;
top: 41px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

#nav_main > div:nth-child(3) {
    position: absolute;
width: 106px;
height: 21px;
left: 398px;
top: 41px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

#nav_main > div:nth-child(4) {
    position: absolute;
width: 74px;
height: 21px;
left: 1134px;
top: 41px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

#nav_main > div:nth-child(5) {
    position: absolute;
width: 48px;
height: 21px;
left: 1238px;
top: 41px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;

}